$red-color: #FB3640;
$pink-color:#FFEEEF;
$pale-red-color: #ff999e;

.center-login-page{
  display: flex;
  height: 90vh;
  width: 100%;
  justify-content: center;
  align-items: center;

}

#login-title{
  color: black;
  font-size: xxx-large;
}
.login-first-form{
  margin-top: 2em;
}
.login-form{
  max-width:19em;
  margin-top: 0.5em;
  border-color: $pink-color;
}
.login-form.form-control{
  border: solid 0.1875rem $pink-color;
}
.login-button{
  margin-top: 2.8em;
  padding: .7em 3em;
  &:disabled{
    opacity: 0.8;
    cursor:not-allowed;
  }
}

.invalid-login{
  color: $red-color;
  font-size: x-large;
}

.login-page-div{
  width: 70%;
}