.header-section {

}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  padding: 15px;
  display: flex;
  width: 33%;
  float: right;
  justify-content: center;
}

.nav-avatar{
  padding: 15px;
  float:left;
  width: 33%;
  display: inline-flex;
  justify-content: center;
}

.inside-avatar{
  padding: 20px 10px;
}

.inside-avatar-icon{
  padding-top: 10px;
  margin-right: 5px;
  display: inline-flex;
  align-content: center;
}

.nav-title {
  padding: 15px;
  margin: 0  auto;
  width: 33%;
  display: inline-flex;
  justify-content: center;
}

.logout-text{
  cursor: pointer;
}
